<div id="<%= dom_id message %>" style="border: solid 1px yellow;">
  <p>
    <strong>User:</strong>
    <%= message.user.email %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= message.content %>
  </p>

</div>
